.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerDiv{
  height: 80px;
  width: 60%;
  align-self: center;
  padding-left: 20%;
}
.mainAppDiv{
  padding-top: 80px;
}
.logoimgDiv{
  float: left;
  width: 115px;
  /* padding-left: 35%; */
}
.tabContant{
  float: right;
  display: inline-flex;
  /* padding-left: 50%; */
}
.tab{
  width: 80px;
  padding-right: 20px;
}

a{
  color: #fff;
  text-decoration: unset;
}
.mainClass{
  width: 100%;
}
.addNew{
  position: fixed;
  z-index: 1;
  bottom: 5px;
  margin-left: 80%;
}
.AddBtn{
  color: #000;
  font-size: 37px;
  overflow: hidden;
}
.btnDiv{
  background-color: crimson;
  border-radius: 35px;
  height: 63px;
}
.mainDiv{
  width: 60%;
  align-self: center;
  padding-left: 20%;
}
textarea{
  width:50%;
  border-radius: 11px;
  border: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
input{
  height: 30px;
  width:50%;
  border-radius: 11px;
  border: 1px solid grey;
}
select{
  height: 30px;
  width:50%;
  border-radius: 11px;
  border: 1px solid grey;
}
